.main {
	width: 100%;
	display: grid;
	margin: 0 auto;
	width: 70rem;
	padding-top: 4rem;
	gap: 1rem;
	grid-template-areas:
		"company company ads"
		"company company other"
		"alert alert other"
		"jobs jobs  other";
	grid-template-columns: 2fr 1fr 1.1fr;

	/* media query for screen smaller than desktop */
	@media (max-width: 1024px) {
		grid-template-areas:
			"company company company"
			"ads ads ads"
			"alert alert alert"
			"jobs jobs jobs"
			"other other other";
		grid-template-columns: 1fr;
		padding: 1.5rem 0rem;
		width: 95%;
	}
}

section {
	border-radius: 0.3rem;
	border: 1px solid #ccc;
	padding: 1rem;
	background-color: white;
}
